<%- include('./partials/header.ejs') %> 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Blogger</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        
        
        
        <% if(!is_authenticated) { %> 
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/register">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Log In</a>
        </li>
        <% } %> 
        <% if(is_authenticated) { %> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/blogs">Your Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/compose">Create blog</a>
          </li>
          <% } %> 
        <% if(is_authenticated) { %> 
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
        </li>
        <% } %> 
        
       
    </div>
  </div>
</nav>
  

<div class="container mt-3">
    <h2 > <%= blog.title  %> </h2>
    <hr>
    <p class="mt-5"><%= blog.content  %> </p>
    <figure>
      <figcaption class="blockquote-footer">
        Published on: <cite title="Source Title"><%= blog.postedAt %> </cite>
      </figcaption>
    </figure>
    <figure class="text-end mt-3">
      <figcaption class="blockquote-footer">
        Blog written by: <cite title="Source Title"><%= blog.username  %> </cite>
      </figcaption>
    </figure>
    <hr><hr>
    <p>All blogs from <%= blog.username %> </p>
    <% blogs.reverse() %> 
    <% blogs.forEach(post => {%> 
    
    <a href="/blog/<%= post._id  %> " style="text-decoration: none; color:black">
      <div class="card mt-3 ">
          <div class="card-body">
            <h5 class="card-title"><i class="fa-brands fa-battle-net"></i> <%= post.title %> </h5>
            <p class="card-text"><i class="fa-solid fa-align-left"></i> <%= post.content.slice(0,99) %>... <a href="/blog/<%= blog._id  %>">read more</a> </p>
            <figure class="text-end mt-3">
              <figcaption class="blockquote-footer">
                <i class="fa-solid fa-signature"></i>Author: <cite title="Source Title"><%= post.username%> </cite>
              </figcaption>
            </figure>
            <figure>
              <figcaption class="blockquote-footer">
                <i class="fa-solid fa-calendar"></i> Published on: <cite title="Source Title"><%= post.postedAt %> </cite>
              </figcaption>
            </figure>
          </div>
        </div>
      </a>
  
    <% }) %> 
</div>

<%- include('./partials/footer.ejs') %> 