<%- include('./partials/header.ejs') %> 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Blogger</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        
        
        
        <% if(!is_authenticated) { %> 
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/register">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Log In</a>
        </li>
        <% } %> 
        <% if(is_authenticated) { %> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/blogs">Your Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/compose">Create blog</a>
          </li>
          <% } %> 
        <% if(is_authenticated) { %> 
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
        </li>
        <% } %> 
        
       
    </div>
  </div>
</nav>
  <div class="container mt-5">
      <h3 class="text-center"><i class="fa-solid fa-cubes-stacked"></i>Your Blogs</h3>
        <% if(!is_authenticated) { %> 
            <p>Log In to view your blogs</p>
        <% } %> 
        <% blogs.reverse() %> 
        
      <div class="row row-cols-1 row-cols-md-3 g-3">
      <% blogs.forEach(blog => { %>
              
      <div class="col">
          <div class="card">
            <a href="/blog/<%= blog._id  %> " style="text-decoration: none; color:black">
            <% if(blog.image) { %> 
              <img src="<%= blog.image %> " class="card-img-top">
            <% } %>
              <div class="card-body">
                <p class="card-text"><i class="fa-solid fa-align-left"></i> <%= blog.content.slice(0,99) %>... <a href="/blog/<%= blog._id  %>">read more</a> </p>
                      <figure>
                        <figcaption class="blockquote-footer">
                          <i class="fa-solid fa-calendar"></i> Published on: <cite title="Source Title"><%= blog.postedAt %> </cite>
                        </figcaption>
                      </figure>
                      <a href="/edit/<%= blog._id  %> " class="btn btn-warning"><i class="fa-solid fa-file-pen"></i> Edit</a>
                  <a href="/delete/<%= blog._id  %> " class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete</a>
    
              </div>
            </div>
          </div>
        </a>
            <% }); %> 
          
          </div>
  </div>

<%- include('./partials/footer.ejs') %> 